@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato);
  font-weight: 300;
}

h1,
h2 {
  font-family: var(--font-comforter);
}

h1 {
  font-size: 160pt;
  text-transform: uppercase;
}

h2 {
  font-size: 80pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
