@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: var(--font-lato);
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--font-comforter);
}

h1 {
  font-size: 160pt;
  text-transform: uppercase;
}

h2 {
  font-size: 80pt;
}

h2.uppercase {
  word-spacing: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  background: none;
  border-radius: 4px;
  border: 1px solid currentColor;
}

@layer utilities {
  .pill {
    @apply rounded-3xl border px-8 py-2 font-medium uppercase text-tertiary hover:bg-transparent focus-visible:bg-transparent focus-visible:text-primary motion-safe:transition-colors;
  }
  .pill-light {
    @apply border-primary bg-primary hover:text-primary focus-visible:text-primary;
  }
  .pill-dark {
    @apply border-secondary bg-secondary text-tertiary hover:text-secondary focus-visible:text-secondary;
  }
  .content-wrapper {
    @apply flex min-h-[95%] flex-wrap;
  }
}
